:root{
    --main-blue: hsl(231, 69%, 60%);
    --main-red : hsl(0, 94%, 66%);
    --grey :  hsl(229, 8%, 60%);
    --dark : hsl(229, 31%, 21%);
}

*{
    box-sizing: border-box;

}
html,body{
margin: 0;
padding: 0;
font-family: 'Rubik', sans-serif;

}

p{
    color:var(--grey)
}

/* Navbar area start */
.navbar{
    display:flex;
    flex-wrap: wrap;

    align-items: center;
justify-content: space-between;
padding:20px  5%;
box-shadow:0 2px 10px rgb(241, 218, 218);
}
.navitems{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.navitem{
margin: 0 20px;
list-style: none;

}
.navitem:hover{
    color:var(--main-red);
transform: scale(1.1);
cursor: pointer;
}
.navitems a{
    text-decoration: none;

}
.red{
    background-color:var(--main-red);
 color: white;
    padding:5px 20px;
    border-radius:5px;
}


/* Navbar area End */


/* main area start */
.main-area{
width: 100%;
display: flex;
flex-wrap: wrap;
padding: 20px 10%;
}

.intro{
width: 50%;
min-width: 300px;
}
.main.heading{
    color:var(--dark);
}

.intro p{
    color:var(--grey)

}

.main-image {
    width: 50%;
    height: auto;
    min-width: 300px;
}
.main-image img{
    width:100%;
    height: auto;
}
/* main area end */

/* feature area start */
.feature{

display: flex;
flex-wrap: wrap;
text-align: center;
align-items: center;
flex-direction: column;
}
.feature > p{
    padding: 20px 10%;
    color: var(--grey)
}
.feature-tabs{
    display: flex;
    flex-wrap: wrap;

    border-bottom: 1px solid var(--grey);
}

.feature-tab{
    margin: 0 20px;
    padding:30px 20px;
}
.feature-details{
    display: none;

}
    


.active.feature-tab{
    border-bottom: 2px solid var(--main-red);
    /* box-shadow: 0px 3px 3px var(--main-red); */
 
}

.active.feature-details{
    width:80%;
    display: flex;
    flex-wrap: wrap;

    padding: 30px 40px;
}
.feature-details button{
    display: block;
    margin: 20px auto;
}

.content{
    width: 50%;
}
.feature-details img{
    width: 40%;
    min-width: 300px;
    height: auto;
    
}
/*  feature area end */


/* download section start  */
.download-section{
display: flex;
flex-direction: column;
    align-items:center;
    padding: 20px 10%;

}
.blue{
 background-color: var(--main-blue);
 color: white;   
}

.download-section button:hover{
    background-color: white;
    color:var(--main-blue);

}
.browsers{
    margin: 20px ;
    display: flex;
flex-wrap: wrap;
}

.chrome{
    padding: 10px 20px;
}
.firefox{
    padding:50px 20px;
}
.opera{
    padding:90px 20px;
}
/* download section end  */

button{
margin: 10px;
padding: 10px;
background: transparent;
border: 2px solid var(--grey);
border-radius: 5px;
}

button:hover{
    border-color: var(--dark);
    transform: scale(1.1);
    cursor: pointer;
}


/* Start faq section */
.faq-section{
    padding: 30px 10% ;

}

.question{
color: var(--dark);
margin-top:20px;
}
.question::before{
    content: '\2795';

    float: right;
}
.question.aactive,.question:hover{
    background-color: hsl(220, 20%, 88%);
}
.question.aactive::before{
    content: '\2796';

    float: right;
}

.answer{
display: none;
    margin-top: 5px;
    color:var(--grey);
}
.aactive{
    display:block;

}

.contact{
    min-height: 30vh;
    background-color:var(--main-blue);
text-align: center;
padding:20px
}
.contact h3{
    color: white;
    font-size:1.4rem;
}
.contact p{
    color: white;

}

.contact button, .contact input{
    font-size: 1rem;
    border-radius: 5px;
    padding: 5px ;
}
.bottom-bar{
    display: flex;
    flex-wrap: wrap;
    height: 20vh;
    background-color:var(--dark);
    padding: 30px 20%;
}
.bottom-bar ul{
    display: flex;
    float: left;
}
.bottom-bar li{
    list-style: none;
color:white;
margin: 0 30px;
}

.bottom-bar .logo{
    color:white
}





/* adding resposiveness */

@media  only screen and (max-width: 480px){
    .intro{
        order: 2;
    }
    
   input, button{
    width:70vw;
}

    .content,.feature-tabs,.chrome,.firefox,.opera{
    width: 80vw;

    }


    .navitems{
    display:none;
}

/* adding hamburger menu */
.ham-menu > div{
    background-color: black;
    height:5px;
    width: 30px;
    margin: 5px;
    transition: 0.3s;
  }
  .ham-active .ham-center{
    opacity:0;
  }
  
  .ham-active .ham-top{
    transform: rotate(-45deg) translate(-8px,8px)
  }
  .ham-active .ham-bottom{
    transform: rotate(45deg) translate(-6px,-6px)
  }

/* mobile menu styles */
.mobile-menu{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 1;
    background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */

  display: flex;
  flex-direction: column;

  align-items: flex-start;
  justify-content:initial;
  padding:20px;
  box-shadow:none;
  
}
.mobile-menu .ham-menu > div{
    background-color:white;
}
.mobile-menu .ham-menu{
    position:absolute;
    top: 20px; 
    right:20px;
}

.mobile-menu .navitems{
    display: flex;
    flex-direction: column;
    width:80%;
    margin: 50px auto;
}
.mobile-menu .navitem{
color : white; 
font-size: 2rem;
width: 100%;
text-align: center;
margin: 30px auto;
border-bottom: 1px solid var(--grey);
}
.mobile-menu .red{
    background-color:transparent;
    border: 1px solid var(--grey)
}
.mobile-menu .login:hover{
    background-color:white;
    color: black;
}
}